<p-toast key="errorToast" position="top-center" [baseZIndex]="9999" (onClose)="close()">
    <ng-template pTemplate="message" let-error>
        <div class="w-full max-w-20rem">
            <!-- header -->
            <div class="flex align-items-start justify-content-between gap-3">
                <i class="pi pi-times-circle text-red-500 text-xl mt-1"></i>
                <div class="flex-1">
                    <div class="font-semibold text-lg">
                        {{ error?.data?.header }} {{ '(' + error?.data?.code? error?.data?.code :'' + ')' }}
                    </div>
                    <div class="text-sm text-600 mt-2">
                        {{ error?.data?.summary }}
                    </div>
                </div>
            </div>
            <!-- body -->
            <div class="resolution" [class.expanded]="error?.data?.expanded">
                <div class="steps text-sm ml-3 text-700" [innerHTML]="error?.data?.resolutionSteps"></div>
            </div>
            <!-- footer -->
            <div class="mt-2 text-right">
                <p-button [icon]="error?.data?.expanded ? 'pi pi-angle-up' : 'pi pi-angle-down'"
                    [label]="error?.data?.expanded ? 'Show less' : 'Show more'" [text]="true" severity="danger"
                    (click)="toggle(error)">
                </p-button>
            </div>
        </div>
    </ng-template>
</p-toast>